 {% load static %}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'https:/cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.3.4/assets/owl.carousel.min.css' %}" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  {% comment %} <link href="{% static 'css/style.css' %}" rel="stylesheet" /> {% endcomment %}
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head> 
   hello everyone 
<body>
</body>
</html>