<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.20.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">


</head>


<body>
  <!-- NavBar -->
  <section id="navbar_sec ">

    <nav class="navbar navbar-expand-lg bold h6" id="navbar1">
      <div class="container-fluid">
        <a class="navbar-brand " href="#" style="color: #ffffff;">LOGONAME</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#homesection"
          aria-controls="homesection" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse vstack align-items-start" id="homesection">
          <div class="row mb-3">
            <div class="col-12  ">
              <a class="nav-link active d-none d-lg-block" aria-current="page" href="#" style="color: #ffffff;">
                <span class="moving-text">USE CODE "LOGONAE" GET 5% OFF|FREE SHIPPING ACROSS INDIA</span>
              </a>
            </div>
          </div>
          <div class="row align-items-start">
            <div class="col">
              <ul class="navbar-nav">

                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#" style="color: #ffffff;">HOME</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="color: #ffffff;">
                    SHOP
                  </a>
                  
                  <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header bold" style="color: #000; font-weight: 600;">SHOP BY PRODUCTS</h6></li>
                    <li><a class="dropdown-item mb-2 justify-content-start" href="#" style="font-weight: 100; font-size: medium;">OVERSIZED TSHIRT</a></li>
                    <li><a class="dropdown-item  mb-2 justify-content-start" href="#" style=" font-weight: 100;font-size: medium; ">OVERSIZED HOODIE</a></li>
                    <li><a class="dropdown-item  mb-2 justify-content-start" href="#" style=" font-weight: 100;font-size: medium;">FULL SLEVE TSHIRSTS</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="color: #ffffff;">
                    OFFERS
                  </a>
                  
                  <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header bold" style="color: #000; font-weight: 600;"></h6></li>
                    <li><a class="dropdown-item mb-2 justify-content-start" href="#" style="font-weight: 100; font-size: medium;">LUCKY SIZE SALE</a></li>
                    <li><a class="dropdown-item  mb-2 justify-content-start" href="#" style=" font-weight: 100;font-size: medium; ">CHRISTMAS OFFERS</a></li>
                    <li><a class="dropdown-item  mb-2 justify-content-start" href="#" style=" font-weight: 100;font-size: medium;"></a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#" style="color: #ffffff;">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#" style="color: #ffffff;">CONTACT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="bi bi-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </nav>
    </section>



  <!--Main Image-->

  <section>
    <div class="container-fluid">
      <img src="image10.png" class="img-fluid" alt="image6">
    </div>

  </section>


  <!--Shop by category-->

  <section class="m-3">
    <div class="container section-title-container">
      <h5 class="section-title section-title-bold-center">
        <span class="section-title-main">SHOP BY CATEGORY</span>
      </h5>
    </div>
  </section>


  <!--shop By category categoies-->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <section class="p-5 d-flex">
          <div class="card m-3 border-0" style="width: 20rem;">
            <a href="#">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp" class="card-img-top" alt="shop-category-image">
            </a>
            <div class="card-body text-center border-0" id="shop-category-title">
              <p class="card-title fs-5 fw-semibold">OVERSIZED TSHIRT</p>
            </div>
          </div>
        </section>
      </div>
  
      <div class="col-md-4">
        <section class="p-5 d-flex">
          <div class="card m-3 border-0" style="width: 20rem;">
            <a href="#">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp" class="card-img-top" alt="shop-category-image">
            </a>
            <div class="card-body text-center border-0" id="shop-category-title">
              <p class="card-title fs-5 fw-semibold">OVERSIZED TSHIRT</p>
            </div>
          </div>
        </section>
      </div>
  
      <div class="col-md-4">
        <section class="p-5 d-flex">
          <div class="card m-3 border-0" style="width: 20rem;">
            <a href="#">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp" class="card-img-top" alt="shop-category-image">
            </a>
            <div class="card-body text-center border-0" id="shop-category-title">
              <p class="card-title fs-5 fw-semibold">OVERSIZED TSHIRT</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  

  <!--Latest drops title-->
  <section class="m-3">
    <div class="container section-title-container">
      <h5 class="section-title section-title-bold-center">
        <span class="section-title-main">SHOP BY CATEGORY</span>
      </h5>
    </div>
  </section>


  <!--Latest drop Body-->

  <div class="container page-wrapper product-card">
    <div class="page-inner">
      <div class="row">
        <!--col1-->
        <div class="el-wrapper col-md-4">
          <div class="box-up">
            <img
              src="https://static2.cilory.com/189111-thickbox_default/no-logo-royal-blue-full-sleeves-henley-t-shirt.jpg"
              class="img-fluid" alt="t-shirt">
            <div class="img-info">
              <div class="info-inner">
                <span class="p-name text-white">Tshirt name</span>
                <span class="p-company"></span>
              </div>
              <div class="a-size">Available sizes : <span class="size text-white">S , M , L , XL</span></div>
            </div>
          </div>

          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>

            <a class="cart" href="#">
              <span class="price">$120</span>
              <span class="add-to-cart">
                <span class="txt">Add in cart</span>
              </span>
            </a>
          </div>
        </div>
        <!--col2-->
        <div class="el-wrapper col-md-4">
          <div class="box-up">
            <img
              src="https://static2.cilory.com/189111-thickbox_default/no-logo-royal-blue-full-sleeves-henley-t-shirt.jpg"
              class="img-fluid" alt="t-shirt">
            <div class="img-info">
              <div class="info-inner">
                <span class="p-name text-white">Tshirt name</span>
                <span class="p-company"></span>
              </div>
              <div class="a-size">Available sizes : <span class="size text-white">S , M , L , XL</span></div>
            </div>
          </div>

          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>

            <a class="cart" href="#">
              <span class="price">$120</span>
              <span class="add-to-cart">
                <span class="txt">Add in cart</span>
              </span>
            </a>
          </div>
        </div>
        <!--col3-->
        <div class="el-wrapper col-md-4">
          <div class="box-up">
            <img
              src="https://static2.cilory.com/189111-thickbox_default/no-logo-royal-blue-full-sleeves-henley-t-shirt.jpg"
              class="img-fluid" alt="t-shirt">
            <div class="img-info">
              <div class="info-inner">
                <span class="p-name text-white">Tshirt name</span>
                <span class="p-company"></span>
              </div>
              <div class="a-size">Available sizes : <span class="size text-white">S , M , L , XL</span></div>
            </div>
          </div>

          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>

            <a class="cart" href="#">
              <span class="price">$120</span>
              <span class="add-to-cart">
                <span class="txt">Add in cart</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  


  <!--Trending products title-->

  <section class="m-3">
    <div class="container section-title-container">
      <h5 class="section-title section-title-bold-center">
        <span class="section-title-main">Trending Products</span>
      </h5>
    </div>
  </section>


  <!--Trending Products body-->


  <div class="container page-wrapper product-card">
    <div class="page-inner">
      <div class="row">
        <!--col1-->
        <div class="el-wrapper col-md-4">
          <div class="box-up">
            <img
              src="https://static2.cilory.com/189111-thickbox_default/no-logo-royal-blue-full-sleeves-henley-t-shirt.jpg"
              class="img-fluid" alt="t-shirt">
            <div class="img-info">
              <div class="info-inner">
                <span class="p-name text-white">Tshirt name</span>
                <span class="p-company"></span>
              </div>
              <div class="a-size">Available sizes : <span class="size text-white">S , M , L , XL</span></div>
            </div>
          </div>

          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>

            <a class="cart" href="#">
              <span class="price">$120</span>
              <span class="add-to-cart">
                <span class="txt">Add in cart</span>
              </span>
            </a>
          </div>
        </div>
        <!--col2-->
        <div class="el-wrapper col-md-4">
          <div class="box-up">
            <img
              src="https://static2.cilory.com/189111-thickbox_default/no-logo-royal-blue-full-sleeves-henley-t-shirt.jpg"
              class="img-fluid" alt="t-shirt">
            <div class="img-info">
              <div class="info-inner">
                <span class="p-name text-white">Tshirt name</span>
                <span class="p-company"></span>
              </div>
              <div class="a-size">Available sizes : <span class="size text-white">S , M , L , XL</span></div>
            </div>
          </div>

          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>

            <a class="cart" href="#">
              <span class="price">$120</span>
              <span class="add-to-cart">
                <span class="txt">Add in cart</span>
              </span>
            </a>
          </div>
        </div>
        <!--col3-->
        <div class="el-wrapper col-md-4">
          <div class="box-up">
            <img
              src="https://static2.cilory.com/189111-thickbox_default/no-logo-royal-blue-full-sleeves-henley-t-shirt.jpg"
              class="img-fluid" alt="t-shirt">
            <div class="img-info">
              <div class="info-inner">
                <span class="p-name text-white">Tshirt name</span>
                <span class="p-company"></span>
              </div>
              <div class="a-size">Available sizes : <span class="size text-white">S , M , L , XL</span></div>
            </div>
          </div>

          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>

            <a class="cart" href="#">
              <span class="price">$120</span>
              <span class="add-to-cart">
                <span class="txt">Add in cart</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--Review Section Title-->
  <section class="m-3">
    <div class="container section-title-container">
      <h5 class="section-title section-title-bold-center">
        <span class="section-title-main">Customer Reviews</span>
      </h5>
    </div>
  </section>

  <!--Review section body-->
  <section class="p-3">
    <div class="container-fluid " id="reviews">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="row">
              <div class="col-sm-12 col-lg-4">
                <div class="card-body custom-card">
                  <h4 class="card-title">Reviews</h4>
                  <h5 class="card-subtitle">Overview of Review</h5>
                  <h2 class="font-medium mt-5 mb-0">25426</h2>
                  <span class="text-muted">This month we got 346 New Reviews</span>
                  <div class="image-box mt-4 mb-4">
                    <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title=""
                      data-original-title="Simmons"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                        class="rounded-circle" width="45" alt="user"></a>
                    <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title=""
                      data-original-title="Fitz"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                        class="rounded-circle" width="45" alt="user"></a>
                    <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title=""
                      data-original-title="Phil"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="rounded-circle" width="45" alt="user"></a>
                    <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title=""
                      data-original-title="Melinda"><img src="https://bootdey.com/img/Content/avatar/avatar4.png"
                        class="rounded-circle" width="45" alt="user"></a>
                  </div>
                  <a href="#" class="btn btn-lg btn-info waves-effect waves-light">Checkout All
                    Reviews</a>
                </div>
              </div>
              <div class="col-sm-12 col-lg-8 border-left">
                <div class="card-body">
                  <ul class="list-style-none">
                    <li class="mt-4">
                      <div class="d-flex align-items-center">
                        <i class="fa fa-smile-o display-5 text-muted"></i>
                        <div class="ml-2">
                          <h5 class="mb-0">Positive Reviews</h5>
                          <span class="text-muted">25547 Reviews</span>
                        </div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 47%" aria-valuenow="47"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </li>
                    <li class="mt-5">
                      <div class="d-flex align-items-center">
                        <i class="fa fa-frown-o display-5 text-muted"></i>
                        <div class="ml-2">
                          <h5 class="mb-0">Negative Reviews</h5>
                          <span class="text-muted">5547 Reviews</span>
                        </div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-orange" role="progressbar" style="width: 33%" aria-valuenow="33"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </li>
                    <li class="mt-5 mb-5">
                      <div class="d-flex align-items-center">
                        <i class="fa fa-meh-o display-5 text-muted"></i>
                        <div class="ml-2">
                          <h5 class="mb-0">Neutral Reviews</h5>
                          <span class="text-muted">547 Reviews</span>
                        </div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Last Section-->



  <div class="container-fluid p-5" id="information">
    <div class="row">
      <div class="col-lg-4">
        <div class="card info-card">
          <div class="card-body">
            <h4 class="card-title" style="color:#ffffff; font-weight: 700; font-size: 25px;">Information</h4>
            <div class="info-item" onclick="window.open('about-us.html', '_blank')">
              <i class="fa fa-info-circle"></i> About Us
            </div>
            <div class="info-item" onclick="window.open('contact-us.html', '_blank')">
              <i class="fa fa-envelope"></i> Contact Us
            </div>
            <div class="info-item" onclick="window.open('faqs.html', '_blank')">
              <i class="fa fa-question-circle"></i> FAQ’S
            </div>
            <div class="info-item" onclick="window.open('privacy-policy.html', '_blank')">
              <i class="fa fa-lock"></i> Privacy Policy
            </div>
            <div class="info-item" onclick="window.open('reviews.html', '_blank')">
              <i class="fa fa-star"></i> Reviews
            </div>
            <div class="info-item" onclick="window.open('terms-and-conditions.html', '_blank')">
              <i class="fa fa-file-text-o"></i> Terms & Conditions
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card info-card">
          <div class="card-body">
            <h4 class="card-title" style="color:#ffffff; font-weight: 700; font-size: 25px;">Social</h4>
            <div class="info-item">
              <i class="fa fa-instagram"></i> Instagram
            </div>
            <div class="info-item">
              <i class="fa fa-facebook"></i> Facebook
            </div>
            <div class="info-item">
              <i class="fa fa-twitter"></i> Twitter
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card info-card">
          <div class="card-body">
            <h4 class="card-title" style="color:#ffffff; font-weight: 700; font-size: 25px;">Customer Support</h4>
            <div class="info-item">
              <i class="fa fa-whatsapp"></i> WhatsApp
            </div>
            <div class="info-item">
              <i class="fa fa-envelope"></i> Email
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--Footer-->
  <footer class="p-3 bg-dark text-white text-center">
    <div class="container">
      <p class="lead">
        &copy; 2023,LogoName All Rights Reserved</p>
      </p>
    </div>
  </footer>

























  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>